@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import './assets/styles/scss/mixins';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: normal;
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
}

html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, hr, p, button, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
}

.App {
  text-align: center;

  &__hero{
    background: url(./assets/images/crop-plate-with-savory-salad.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;

    &-section {
      padding: 222px 0  0 70px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start;
      gap: 45px;
      max-width: 859px;

      @include onTablet {
        width: 100%;
        padding: 222px 0  0 40px;
      }

      @include onPhone {
        width: 100%;
        padding: 222px 0  0 20px;
      }
    }

    &--title {
      color: #F2F2F2;
      font-size: 66px;
      font-weight: 700;
      text-align: left;

      @include onPhone {
        font-size: 44px;
      }
    }

    &--text {
      color: #F2F2F2;
      font-size: 24px;
      font-weight: 400;
      text-align: left;

      @include onPhone {
        font-size: 16px;
      }
    }
  }

  &__menu {
    padding: 120px 70px;

    &--title {
      color: #000;
      font-size: 72px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 84px;

      @include onPhone {
        font-size: 48px;
      }
    }
}

  &__products {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 75px;
    flex-wrap: wrap;
  }

  &__aboutus {
    padding: 90px 70px 190px;
    background: #111114;

    &--content {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-content: flex-start;
      align-items: flex-start;
      gap: 130px;
      text-align: left;
      color: #FFF;

      @include onTablet {
        flex-wrap: wrap;
      }
    }

    &--left {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    &--title {
      font-size: 72px;
      font-weight: 700;
    }

    &--text {
      font-size: 24px;
      font-weight: 300;
    }

    &--list {
      font-size: 16px;
      font-weight: 400;
    }

    &--li {
      margin-top: 12px;
    }

    &--image {
      max-width: 637px;
      height: auto;
      border-radius: 16px;

      @include onTablet {
        width: 100%;
      }
    }
  }
}
